body {
  padding-top: 50px;
}

.heading {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 40px;
  text-align: center;
}

.post {
  padding-bottom: 15px;
}

.postTitle {
  padding-bottom: 20px;
  padding-left: 20px;
}

.footer {
  padding-bottom: 40px;
  text-align: center;
}